.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;

    color: #EEE;
    font-family: 'kufam', sans-serif;

    background: #202024;
    border-left: 4px solid #F05D60;
}

.card-placeholder {
    position: absolute;

    background: #562122;
    border: solid 1px #F05D60;
    border-left-width: 4px;
}

.card-header {
    display: grid;
}

.card-header-main {
    position: relative;

    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1;
    align-items: flex-start;
    justify-content: flex-end;
}

.card-title {
    display: block;
    margin: 10px;
    margin-bottom: 0;
}

.card-priority {
    display: block;
    height: 20px;
    margin: 10px;
    margin-top: 5px;
    padding: 2px 6px;

    line-height: 25px;

    background: #F05D60;
    border-radius: 3px;
}

.card-header-image {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    max-height: 150px;
}

.card-header-image img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-header-image div {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    max-height: 150px;

    box-shadow: inset 0 0 5px #222, inset -10px -40px 50px #222;
}

.card-header-main .form-element {
    position: absolute;
    right: 0;
    bottom: 0;
}

.card-options {
    padding: 5px;

    background: #252525;
    box-shadow: inset 0 0 10px #000;
}

.card-options h3 {
    margin: 5px;

    color: #DDD;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.card-options .acceptance-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.card-content {
    margin: 10px 5px;
}

.card-content-elements {
    max-height: 500px;
    overflow: auto;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
}

.card-footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-footer-assignees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-footer-notes-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    margin-bottom: 5px;
}

.card-footer-notes-counter span {
    display: block;
    margin-left: 3px;
}

/* .add-icon-card {
    align-self: center;
    margin-top: 10px;
}

.card-top {
    display: grid;
}

.card-image {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    align-content: stretch;
    justify-content: stretch;
}

.card-image img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.card-main {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1;
    align-items: stretch;
    justify-content: flex-start;
}

.card-main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.card-priority {
    padding: 2px 10px;

    color: white;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;

    border-radius: 3px;
}

.tag {
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 0 10px;

    color: #555;
    font-size: 0.7em;
    font-family: 'Poppins', sans-serif;

    background: #BBB;
    border-radius: 10px;
}

.tag::before {
    content: '#';
}

.assignee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-bottom: 5px;

    border-radius: 50px;
}

 */
