.column-wrapper {
    display: flex;
    flex-direction: row;
}

.columns-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background: #0002;
}

.column {
    display: flex;
    flex-direction: column;
    width: 400px;

    background: var(--main-bg-color);
    border: solid 2px var(--main-color);
    border-radius: 8px;
}

.column:first-child { margin-left: 0; }
.column:last-child { margin-right: 0; }

.column-visible {
    /* background: rgba(255, 255, 255, 0.4); */
}

.column-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    color: #FEFEFE;
    font-size: 1.25em;
    font-family: 'kufam', sans-serif;
}

.column-title div {
    width: 100%;
}

.column-title div div:first-child {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 3px 0;
}

.column-title div div:first-child img {
    width: 50px;
    height: 50px;
}

.column-title div div:first-child span {
    display: flex;
    flex-grow: 1;
    align-self: center;
    margin-left: 10px;
}

.column-title div div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 3px 0;
}

.column-title div div:first-child div {
    display: flex;
    flex-basis: 3em;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-end;
}

.column-childrens {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
}
