button,
input,
input[type="text"],
input[type="button"] {
    margin: 0;
    padding: 0;

    outline: none;
}

button:focus,
input:focus,
input[type="text"]:focus,
input[type="button"]:focus,
button:active,
input:active,
input[type="text"]:active,
input[type="button"]:active {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #D76261;
}