.swimlanes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
}

.swimlane-childrens {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.swimlane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.swimlane:first-child { margin-top: 0; }
.swimlane:last-child { margin-bottom: 0; }

.swimlane-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    min-width: 300px;
}

.swimlane-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;

    color: #FEFEFE;

    background: #111;
    border-top: solid 3px #F05D60;
}

.swimlane-title span {
    color: #FFF;
    font-weight: 200;
    font-size: 1em;
    font-family: 'kufam', sans-serif;
    text-align: center;
}
