.content-element hr {
    width: 80%;
    height: 1px;
    margin: 0 auto;

    background: linear-gradient(to left, transparent, #F05D60 10%, #F05D60 90%, transparent);
    border: none;
}

.content-tasklist {
    padding: 5px 10px;
}

.content-tasklist-title {
    margin: 0;
    padding: 0;

    color: #DDD;
    font-weight: 400;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.content-task {
    padding-left: 10px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input[type="checkbox"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    border: 1px solid #F05D60;
    border-radius: 3px;
    outline: none;

    appearance: none;
}

input[type="checkbox"]::after {
    display: block;

    color: transparent;

    content: '\2713';
}

input[type="checkbox"]:checked {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #F05D60;
    outline: none;
}

input[type="checkbox"]:checked::after {
    display: block;

    color: #DDD;
    font-weight: bold;
    font-size: 1em;

    content: '\2713';
}

input[type="checkbox"] + label {
    color: #DDD;
    font-weight: 100;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.content-text {
    padding: 5px 10px;

    color: #DDD;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.content-markdown-text {
    padding: 5px 10px;

    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.content-markdown-text ul {
    margin-right: 0;
    padding-left: 0;

    list-style: none;
}

.content-markdown-text ul > li {
    margin: 5px 0;
    margin-left: 15px;
}

.content-markdown-text ul li::before {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin-right: 0.5em;
    padding: 0.1em;

    line-height: 1;

    border: 2px solid #F05D60;
    border-radius: 100%;

    content: '';
}

.content-markdown-text a {
    color: #F05D60;
    font-weight: 500;
}

.content-markdown-text h1,
.content-markdown-text h2,
.content-markdown-text h3,
.content-markdown-text h4,
.content-markdown-text h5,
.content-markdown-text h6 {
    color: #F05D60;
    text-transform: uppercase;
}

.content-markdown-text h1 {
    font-weight: 500;
    font-size: 2em;
}

.content-markdown-text h2 {
    font-weight: 400;
    font-size: 1.5em;
}

.content-markdown-text h3 {
    font-weight: 300;
    font-size: 1.25em;
}

.content-markdown-text h4 {
    font-weight: 250;
    font-size: 1.15em;
}

.content-markdown-text h5 {
    font-weight: 200;
    font-size: 1.1em;
}

.content-markdown-text h6 {
    font-weight: 100;
    font-size: 1.05em;
}

.content-markdown-text blockquote {
    margin: 0;
    padding: 0;
    padding: 4px 10px;

    background: #0003;
    border-left: 4px solid #F05D60;
}

.content-markdown-text blockquote p {
    margin: 0;
    padding: 0;
}

table {
    position: relative;

    overflow: hidden;

    border-collapse: collapse;
}

table thead {
    background: linear-gradient(45deg, #F05D60, #773032);
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
}

table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}

table th,
.content-markdown-text table td {
    position: relative;

    padding: 10px;

    color: #FFF;
}

table th {
    text-align: left;
}

table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table tbody td:hover::before {
    position: absolute;
    top: -9999px;
    right: 0;
    bottom: -9999px;
    left: 0;
    z-index: -1;

    background-color: rgba(255, 255, 255, 0.2);

    content: "";
}

.content-image {
    width: calc(100% - 20px);
    max-height: 150px;
    padding: 5px 10px;
    object-fit: cover;
}

.card-field svg {
    font-size: 2em;
}
