.content-element hr {
    width: 80%;
    height: 1px;
    border: none;
    margin: 0 auto;
    background: linear-gradient(to left, transparent, #f05d60 10%, #f05d60 90%, transparent);
}

.cTasklist {
    padding: 5px 10px;
}

.cTasklist-title {
    padding: 0;
    margin: 0;
    color: #ddd;
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

.cTask {
    padding-left: 10px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input[type="checkbox"] {
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f05d60;
    appearance: none;
    border-radius: 3px;
    outline: none;
}

input[type="checkbox"]::after {
    display: block;
    color: transparent;
    content: '\2713';
}

input[type="checkbox"]:checked {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f05d60;
    outline: none;
}

input[type="checkbox"]:checked::after {
    display: block;
    color: #ddd;
    content: '\2713';
    font-size: 1em;
    font-weight: bold;
}

input[type="checkbox"] + label {
    color: #ddd;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 100;
}

.cText {
    padding: 5px 10px;
    color: #ddd;
    font-family: 'Roboto';
    font-size: 1em;
}

.cMarkdownText {
    padding: 5px 10px;
    font-family: 'Roboto';
    font-weight: 100;
}

.cMarkdownText ul {
    padding-left: 0;
    margin-right: 0;
    list-style: none;
}

.cMarkdownText ul > li {
    margin: 5px 0;
    margin-left: 15px;
}

.cMarkdownText ul li::before {
    display: inline-block;
    width: 2px;
    height: 2px;
    padding: 0.1em;
    border: 2px solid #f05d60;
    margin-right: 0.5em;
    border-radius: 100%;
    content: '';
    line-height: 1;
}

.cMarkdownText a {
    color: #f05d60;
    font-weight: 500;
}

.cMarkdownText h1,
.cMarkdownText h2,
.cMarkdownText h3,
.cMarkdownText h4,
.cMarkdownText h5,
.cMarkdownText h6 {
    color: #f05d60;
    text-transform: uppercase;
}

.cMarkdownText h1 {
    font-size: 2em;
    font-weight: 500;
}

.cMarkdownText h2 {
    font-size: 1.5em;
    font-weight: 400;
}

.cMarkdownText h3 {
    font-size: 1.25em;
    font-weight: 300;
}

.cMarkdownText h4 {
    font-size: 1.15em;
    font-weight: 250;
}

.cMarkdownText h5 {
    font-size: 1.1em;
    font-weight: 200;
}

.cMarkdownText h6 {
    font-size: 1.05em;
    font-weight: 100;
}

.cMarkdownText blockquote {
    padding: 0;
    padding: 4px 10px;
    border-left: 4px solid #f05d60;
    margin: 0;
    background: #0003;
}

.cMarkdownText blockquote p {
    padding: 0;
    margin: 0;
}

table {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
}

table thead {
    background: linear-gradient(45deg, #f05d60, #773032);
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
}

table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}

table th,
.cMarkdownText table td {
    padding: 10px;
    color: #fff;
}

table th {
    text-align: left;
}

table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table tbody td {
    position: relative;
}

table tbody td:hover::before {
    position: absolute;
    z-index: -1;
    top: -9999px;
    right: 0;
    bottom: -9999px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
}

.cImage {
    width: calc(100% - 20px);
    max-height: 150px;
    padding: 5px 10px;
    object-fit: cover;
}

.card-field svg {
    font-size: 2em;
}
