.swimlanes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
}

.swimlane-childrens {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
}

.swimlane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    margin: 5px 0;
}

.swimlane:first-child{margin-top: 0;}
.swimlane:last-child{margin-bottom: 0;}

.swimlane-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;

    min-width: 300px;
}

.swimlane_title {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;

    color: #fefefe;
    border-top: solid 3px #F05D60;

    background: #111;
    height: 30px;
}

.swimlane_title span {
    text-align: center;

    font-weight: 200;
    font-family: 'kufam';
    font-size: 1em;

    color: #fff;
}