.swimlanes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
}

.swimlane-childrens {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
}

.swimlane {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    box-sizing: border-box;
    border: none;

    margin-bottom: 10px;
}

.swimlane-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;

    padding-top: 5px;
    min-width: 300px;
}

.swimlane_title {
    display: flex;
    flex-direction: column;
    justify-content: stretch ;
    align-items: stretch;
}

.swimlane_title span {
    box-sizing: border-box;
    
    flex-grow: 1;
    text-align: center;

    font-weight: 200;
    font-family: 'kufam';
    font-size: 1em;

    background: linear-gradient(90deg, #F05D60, #A33F41);
    color: #fff;
}