@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Kufam */

/* Roboto */

/* Poppins */

/* Montserrat */
html{height: 100%;}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background: transparent;
    padding: 0;
}

html, body, #root, .App, .columns, .column{
    pointer-events: none; 
}
#root{display:flex; justify-content: center;}

* {pointer-events: all;}
.draggable {-webkit-app-region: drag;}

button {
    background: none;
    border: solid 1px #cccccc;;
    color: #cccccc;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #cccccc;

    
    padding-top: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
}

.columns_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

    background: #00000022;
}

.column {
    display: flex;
    flex-direction: column;

    width: 300px;

    margin: 0 10px;
}

.column-visible {
    background: rgba(0, 0, 0, 0.4);
}

.column_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    


    padding: 5px 10px;
    
    background: rgba(0, 0, 0, 0.7);
    color: #fefefe;
    border-top: solid 3px #F05D60;

    font-family: 'kufam';
    font-size: 1.25em;
}

.column_title div{
    width: 100%;
}

.column_title div div:first-child{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    margin: 3px 0;
}

.column_title div div:first-child span{
    display: flex;
    align-self: center;
    flex-grow: 1;
}

.column_title div div:first-child div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 3em;
    flex-shrink: 0;
}

.column_title div div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    width: 100%;
    margin: 3px 0;
}

.add-icon_card{
    margin-top: 10px;
    align-self: center;
}

.add-icon, .add-icon:focus {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: solid 1px #F05D60;

    font-size: 1.6em;

    cursor: pointer;
}

.add-icon:hover {
    background: linear-gradient(#F05D60, #CE4F51);
}

.add-icon:active {

    background: linear-gradient(#CE4F51, #F05D60);
}

.column_cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;

    height: 100px;
    
    margin: 10px 0;
    padding: 5px 10px;

    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    border-left: 4px solid #F05D60;

    cursor: grab;
}

.card_priority {
    align-self: flex-start;
    padding: 2px 10px;
    font-family: 'Poppins';
    font-size: 0.8em;
    background: #229922;
    border-radius: 3px;
    color: #ccc;
}

.card_title {
    display: flex;
    font-weight: 200;
    font-family: 'kufam';
    justify-content: space-between;
    margin: 10px 0;
}

.card_tags {
    display: flex;
    flex-direction: row;
}

.tag {
    padding: 0px 10px;
    font-family: 'Poppins';
    font-size: 0.7em;
    background: #bbb;
    color: #555;
    border-radius: 10px;
    margin-right: 3px;
}

.tag::before {
    content: '#';
}

.accept-button, .cancel-button, .standard-button{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ddd;

    font-size: 1.5em;
    cursor: pointer;

    border: none;
}

.accept-button:hover{
    color:#7add7a;
}

.cancel-button:hover{
    color:#dd7a7a;
}

.standard-button:hover{
    color:#fff;
}

input[type="text"]{
    margin: 0;
    padding: 5px;
    width: calc(100% - 14px);

    border:none;
    border-left:solid 4px #F05D60;
    border-bottom:solid 1px #F05D60;
    background: none;

    font-family: 'kufam';
    font-size: 1.05em;
    color:#ddd;
}

input[type="text"]:focus{
    outline: none;

    background: #00000055;

    font-size: 1.05em;
    color:#F05D60;
}

button{
    outline: none;
}