@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Kufam */

/* Roboto */

/* Poppins */

/* Montserrat */
html { height: 100%; }

body {
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    background: transparent;
}

html,
body,
#root,
.app,
.columns,
.column {
    pointer-events: none;
}

#root {
    display: flex;
    justify-content: center;
}

* { pointer-events: all; }
.draggable { -webkit-app-region: drag; }

button {
    color: #CCC;

    background: none;
    border: solid 1px #CCC;
    outline: none;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20px;

    color: #CCC;
}

.board-childrens {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-icon,
.add-icon:active {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;

    color: #FFF;
    font-size: 1.1em;

    background: rgba(0, 0, 0, 0.5);
    border: solid 1px #F05D60;
    cursor: pointer;
}

.add-icon:hover {
    background: linear-gradient(#F05D60, #CE4F51);
}

.add-icon:active {
    background: linear-gradient(#CE4F51, #F05D60);
}

.accept-button,
.cancel-button,
.standard-button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #DDD;
    font-size: 1.5em;

    border: none;
    cursor: pointer;
}

.accept-button:hover {
    color: #7ADD7A;
}

.cancel-button:hover {
    color: #DD7A7A;
}

.standard-button:hover {
    color: #FFF;
}

.card-field {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    border: solid 1px #353539;
    border-radius: 2px;
}

input[type="text"] {
    width: calc(100% - 14px);
    margin: 0;
    padding: 0;

    color: #DDD;
    font-size: 1.05em;
    font-family: 'kufam', sans-serif;

    background: none;
    border: none;
}

input[type="text"]:focus {
    color: #F05D60;

    background: #0005;
    outline: none;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #0004;
}

.buttons-container-bottom {
    flex-direction: row;
    margin-top: 5px;
}

.buttons-container-right {
    flex-direction: column;
    margin-left: 10px;
}

.buttons-container button {
    margin: 5px;
    padding: 2px;

    font-size: 1.5em;

    border-radius: 2px;
}
