@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Kufam */

/* Roboto */

/* Poppins */

/* Montserrat */
html{height: 100%;}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background: transparent;
    padding: 5px;
}
#root{height: 100%;}
html, body, #root, .App, .columns, .column{
    pointer-events: none; 
}

* {pointer-events: all;}
.draggable {-webkit-app-region: drag;}

.App {
    height: 100%;
    padding-top: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;

    width: 300px;

    margin: 0 10px;
}

.column-visible {
    background: rgba(0, 0, 0, 0.4);
}

.column_title {
    display: flex;
    align-items: center;
    justify-content: left;

    height: 40px;

    padding: 5px 10px;
    
    background: rgba(0, 0, 0, 0.7);
    color: #fefefe;
    border-top: solid 3px #F05D60;

    font-family: 'kufam';
    font-size: 1.25em;

    cursor: pointer;
}

.AddIcon, .AddIcon:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    height: 40px;
    width: 40px;

    margin-top: 10px;

    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: solid 1px #F05D60;

    font-size: 1.6em;    

    cursor: pointer;
}

.AddIcon:hover {
    background: linear-gradient(#F05D60, #CE4F51);
}

.AddIcon:active {

    background: linear-gradient(#CE4F51, #F05D60);
}

.column_cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;

    height: 100px;
    
    margin: 10px 0;
    padding: 5px 10px;

    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    border-left: 4px solid #F05D60;

    cursor: grab;
}

.card_priority {
    align-self: flex-start;
    padding: 2px 10px;
    font-family: 'Poppins';
    font-size: 0.8em;
    background: #229922;
    border-radius: 3px;
    color: #ccc;
}

.card_title {
    display: flex;
    font-weight: 200;
    font-family: 'kufam';
    justify-content: space-between;
    margin: 10px 0;
}

.card_tags {
    display: flex;
    flex-direction: row;
}

.tag {
    padding: 0px 10px;
    font-family: 'Poppins';
    font-size: 0.7em;
    background: #bbb;
    color: #555;
    border-radius: 10px;
    margin-right: 3px;
}

.tag::before {
    content: '#';
}