@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Kufam */

/* Roboto */

/* Poppins */

/* Montserrat */
html{height: 100%;}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background: transparent;
    padding: 0;
}

html, body, #root, .App, .columns, .column{
    pointer-events: none; 
}
#root{display:flex; justify-content: center;}

* {pointer-events: all;}
.draggable {-webkit-app-region: drag;}

button {
    background: none;
    border: solid 1px #cccccc;;
    color: #cccccc;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #cccccc;

    box-sizing: border-box;
    padding-top: 20px;
}



.add-icon, .add-icon:focus {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 0;

    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: solid 1px #F05D60;

    font-size: 1.1em;

    cursor: pointer;
}

.add-icon:hover {
    background: linear-gradient(#F05D60, #CE4F51);
}

.add-icon:active {
    background: linear-gradient(#CE4F51, #F05D60);
}

.accept-button, .cancel-button, .standard-button{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ddd;

    font-size: 1.5em;
    cursor: pointer;

    border: none;
}

.accept-button:hover{
    color:#7add7a;
}

.cancel-button:hover{
    color:#dd7a7a;
}

.standard-button:hover{
    color:#fff;
}

input[type="text"]{
    margin: 0;
    padding: 5px;
    width: calc(100% - 14px);

    border:none;
    border-left:solid 4px #F05D60;
    border-bottom:solid 1px #F05D60;
    background: none;

    font-family: 'kufam';
    font-size: 1.05em;
    color:#ddd;
}

input[type="text"]:focus{
    outline: none;

    background: #00000055;

    font-size: 1.05em;
    color:#F05D60;
}

button{
    outline: none;
}