body {
    padding: 5px;
    pointer-events: none;
}

#root{
    pointer-events: none; 
}

* {pointer-events: all;}
.draggable {-webkit-app-region: drag;}


.handle {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin: auto;
    width: 100%;
    height: 45px;
    
    transition: height 0.2s, width 0.2s;
}

.handle-small{
    width: 120px;
    height: 10px;

    transition: height 0.2s, width 0.2s;
}

.puller, .puller:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid #F05D60;
    font-size: 1.6em;
    letter-spacing: 2em;
    cursor: pointer;

    transition: height 0.2s, width 0.2s;
}

.hide-bar {
    width: 100%;
    height: 35px;
    border-top: 4px solid #F05D60;
}

.show-small-bar{
    width: 120px;
    height: 10px;

    transition: height 0.2s, width 0.2s,;
}

.handle:hover .show-small-bar{
    width: 200px;
    height: 25px;
}

.handle:hover .handle-small{
    width: 200px;
    height: 25px;
}

.puller:hover {
    background: linear-gradient(#F05D60, #CE4F51);
}

.puller:active {
    background: linear-gradient(#CE4F51, #F05D60);
}

.animate-up {
    opacity: 0;
}

.hide-bar:hover .animate-up {
    opacity: 1;
    animation: upAndDown 0.5s 0s linear infinite;
}

@keyframes upAndDown {
    0% {
        transform: TranslateY(-3px);
    }
    50% {
        transform: TranslateY(3px);
    }
    100% {
        transform: TranslateY(-3px);
    }
}